# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock

# Firebase configuration (optional to ignore if you want secrets protected)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Obfuscation files
app.*.symbols

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
*.xcworkspace
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# macOS
*.DS_Store

# Linux/macOS build
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# Windows build
windows/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# TFLite model files (optional, large files)
assets/models/*.tflite

# Image uploads (optional)
assets/uploads/
